In [7]:
#CMSClaims_data.CSV
#2003 forward. CMS compiles claims data for Medicare and Medicaid patients across a variety of categories and years. 
#This includes Inpatient and Outpatient claims, Master Beneficiary Summary Files, and many other files. 
#Indicators from this data source have been computed by personnel in CDC's Division for Heart Disease and Stroke Prevention (DHDSP). 
#This is one of the datasets provided by the National Cardiovascular Disease Surveillance System. The system is designed to 
#integrate multiple indicators from many data sources to provide a comprehensive picture of the public health burden of CVDs and associated 
#risk factors in the United States. The data are organized by location (national and state) and indicator. The data can be plotted as trends 
#and stratified by sex and race/ethnicity.

import pandas as pd
import numpy as np


# Read data file
CMS = pd.read_csv("CMSClaims_data.csv")
print(CMS.head(3))

CMS.describe()

#print(CMS.dtypes)
#print(CMS.shape)

#Lets clean up the data of NaN values
CMS2 = CMS['RowId'].dropna()
CMS2.shape

#print(CMS['RowId'].unique()
#print(CMS['PriorityArea1'].unique()
#CMS['DataSource'].unique()
unique_counts = CMS['DataSource'].value_counts()
print(unique_counts)

   RowId  YearStart LocationAbbr   LocationDesc DataSource  PriorityArea1  \
0    NaN       2016           US  United States   Medicare            NaN
1    NaN       2017           US  United States   Medicare            NaN
2    NaN       2018           US  United States   Medicare            NaN

   PriorityArea2  PriorityArea3  PriorityArea4                    Class  ...  \
0            NaN            NaN            NaN  Cardiovascular Diseases  ...
1            NaN            NaN            NaN  Cardiovascular Diseases  ...
2            NaN            NaN            NaN  Cardiovascular Diseases  ...

  Break_Out_Category Break_Out ClassId TopicId  QuestionId  Data_Value_TypeID  \
0               Race   Unknown      C1      T1       MD101              Crude
1               Race   Unknown      C1      T1       MD101              Crude
2               Race   Unknown      C1      T1       MD101              Crude

   BreakOutCategoryId  BreakOutId  LocationId  GeoLocation
0               BOC04       RAC08          59          NaN
1               BOC04       RAC08          59          NaN
2               BOC04       RAC08          59          NaN

[3 rows x 30 columns]
DataSource
Medicare    33454
Name: count, dtype: int64

In [ ]:
#Data Definition
RowId                         float64 - Unique Row indentifer for each entry in the CMS table
YearStart                       int64  - the starting year of CMS related service
LocationAbbr                   object  - Geo location abbreviation ( country)
LocationDesc                   object  - Geo Location description 
DataSource                     object  - Data source and type (i.e. medicare, medicaid)
PriorityArea1                 float64  - 
PriorityArea2                 float64
PriorityArea3                 float64
PriorityArea4                 float64
Class                          object
Topic                          object
Question                       object
Data_Value_Type                object
Data_Value_Unit                object
Data_Value                    float64
Data_Value_Alt                float64
Data_Value_Footnote_Symbol    float64
Data_Value_Footnote           float64
Low_Confidence_Limit          float64
High_Confidence_Limit         float64
Break_Out_Category             object
Break_Out                      object
ClassId                        object
TopicId                        object
QuestionId                     object
Data_Value_TypeID              object
BreakOutCategoryId             object
BreakOutId                     object
LocationId                      int64
GeoLocation                    object

In [19]:
#Data Cleaning

#lets replace the NaNs in Row
CMS.isnull().values.any()
# Assuming 'RowIds' is your index column with NaN values
#CMS.reset_index(inplace=True)
CMS.rename(columns={'index': 'RowIds'}, inplace=True)
has_nans = CMS['RowId'].isna().any()
if has_nans:
    print("There are still NaN values in the 'RowId' column.")
else:
    print("No NaN values in the 'RowId' column.")

There are still NaN values in the 'RowId' column.

In [21]:
CMS.head()

,level_0,RowIds,RowId,YearStart,LocationAbbr,LocationDesc,DataSource,PriorityArea1,PriorityArea2,PriorityArea3,...,Break_Out_Category,Break_Out,ClassId,TopicId,QuestionId,Data_Value_TypeID,BreakOutCategoryId,BreakOutId,LocationId,GeoLocation
0,0,0,NaN,2016,US,United States,Medicare,NaN,NaN,NaN,...,Race,Unknown,C1,T1,MD101,Crude,BOC04,RAC08,59,NaN
1,1,1,NaN,2017,US,United States,Medicare,NaN,NaN,NaN,...,Race,Unknown,C1,T1,MD101,Crude,BOC04,RAC08,59,NaN
2,2,2,NaN,2018,US,United States,Medicare,NaN,NaN,NaN,...,Race,Unknown,C1,T1,MD101,Crude,BOC04,RAC08,59,NaN
3,3,3,NaN,2019,US,United States,Medicare,NaN,NaN,NaN,...,Gender,Male,C1,T1,MD101,Crude,BOC02,GEN01,59,NaN
4,4,4,NaN,2020,US,United States,Medicare,NaN,NaN,NaN,...,Gender,Male,C1,T1,MD101,Crude,BOC02,GEN01,59,NaN

In [26]:
print(CMS['PriorityArea1'].unique)
print(CMS['PriorityArea2'].unique)
print(CMS['PriorityArea3'].unique)
print(CMS.shape)
# all of the columns in question have NaN. so lets drop them.

<bound method Series.unique of 0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
33449   NaN
33450   NaN
33451   NaN
33452   NaN
33453   NaN
Name: PriorityArea1, Length: 33454, dtype: float64>
<bound method Series.unique of 0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
33449   NaN
33450   NaN
33451   NaN
33452   NaN
33453   NaN
Name: PriorityArea2, Length: 33454, dtype: float64>
<bound method Series.unique of 0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
33449   NaN
33450   NaN
33451   NaN
33452   NaN
33453   NaN
Name: PriorityArea3, Length: 33454, dtype: float64>
(33454, 32)

In [28]:
CMS2= CMS.dropna(axis=1, how='all')
CMS2.shape
CMS2.head(20)

,level_0,RowIds,YearStart,LocationAbbr,LocationDesc,DataSource,Class,Topic,Question,Data_Value_Type,...,Break_Out_Category,Break_Out,ClassId,TopicId,QuestionId,Data_Value_TypeID,BreakOutCategoryId,BreakOutId,LocationId,GeoLocation
0,0,0,2016,US,United States,Medicare,Cardiovascular Diseases,Major Cardiovascular Disease,Major cardiovascular disease hospitalization r...,Crude,...,Race,Unknown,C1,T1,MD101,Crude,BOC04,RAC08,59,NaN
1,1,1,2017,US,United States,Medicare,Cardiovascular Diseases,Major Cardiovascular Disease,Major cardiovascular disease hospitalization r...,Crude,...,Race,Unknown,C1,T1,MD101,Crude,BOC04,RAC08,59,NaN
2,2,2,2018,US,United States,Medicare,Cardiovascular Diseases,Major Cardiovascular Disease,Major cardiovascular disease hospitalization r...,Crude,...,Race,Unknown,C1,T1,MD101,Crude,BOC04,RAC08,59,NaN
3,3,3,2019,US,United States,Medicare,Cardiovascular Diseases,Major Cardiovascular Disease,Major cardiovascular disease hospitalization r...,Crude,...,Gender,Male,C1,T1,MD101,Crude,BOC02,GEN01,59,NaN
4,4,4,2020,US,United States,Medicare,Cardiovascular Diseases,Major Cardiovascular Disease,Major cardiovascular disease hospitalization r...,Crude,...,Gender,Male,C1,T1,MD101,Crude,BOC02,GEN01,59,NaN
5,5,5,2021,US,United States,Medicare,Cardiovascular Diseases,Major Cardiovascular Disease,Major cardiovascular disease hospitalization r...,Crude,...,Gender,Male,C1,T1,MD101,Crude,BOC02,GEN01,59,NaN
6,6,6,2017,US,United States,Medicare,Cardiovascular Diseases,Diseases of the Heart (Heart Disease),Diseases of the heart (heart disease) hospital...,Crude,...,Race,Unknown,C1,T2,MD201,Crude,BOC04,RAC08,59,NaN
7,7,7,2021,US,United States,Medicare,Cardiovascular Diseases,Diseases of the Heart (Heart Disease),Diseases of the heart (heart disease) hospital...,Crude,...,Race,Unknown,C1,T2,MD201,Crude,BOC04,RAC08,59,NaN
8,8,8,2019,MT,Montana,Medicare,Cardiovascular Diseases,Stroke,Prevalence of in-hospital mortality among cere...,Crude,...,Race,Non-Hispanic Asian,C1,T6,MD603,Crude,BOC04,RAC03,30,POINT (-109.4244206 47.06652897)
9,9,9,2018,US,United States,Medicare,Cardiovascular Diseases,Stroke,Prevalence of in-hospital mortality among cere...,Crude,...,Race,Non-Hispanic White,C1,T6,MD603,Crude,BOC04,RAC01,59,NaN
10,10,10,2020,SD,South Dakota,Medicare,Cardiovascular Diseases,Heart Failure,Heart failure hospitalization rate among Medic...,Crude,...,Gender,Male,C1,T5,MD501,Crude,BOC02,GEN01,46,POINT (-100.3735306 44.35313005)
11,11,11,2019,US,United States,Medicare,Cardiovascular Diseases,Acute Myocardial Infarction (Heart Attack),Prevalence of in-hospital mortality among acut...,Crude,...,Race,Non-Hispanic Asian,C1,T3,MD403,Crude,BOC04,RAC03,59,NaN
12,12,12,2020,US,United States,Medicare,Cardiovascular Diseases,Acute Myocardial Infarction (Heart Attack),Prevalence of in-hospital mortality among acut...,Crude,...,Gender,Male,C1,T3,MD403,Crude,BOC02,GEN01,59,NaN
13,13,13,2020,SD,South Dakota,Medicare,Cardiovascular Diseases,Heart Failure,Heart failure hospitalization rate among Medic...,Crude,...,Race,Hispanic,C1,T5,MD501,Crude,BOC04,RAC04,46,POINT (-100.3735306 44.35313005)
14,14,14,2018,NV,Nevada,Medicare,Cardiovascular Diseases,Coronary Heart Disease,Coronary heart disease hospitalization rate am...,Crude,...,Age,75+,C1,T4,MD301,Crude,BOC03,AGE08,32,POINT (-117.0718406 39.49324039)
15,15,15,2018,US,United States,Medicare,Cardiovascular Diseases,Coronary Heart Disease,Coronary heart disease hospitalization rate am...,Crude,...,Race,Other,C1,T4,MD301,Crude,BOC04,RAC07,59,NaN
16,16,16,2020,CO,Colorado,Medicare,Cardiovascular Diseases,Coronary Heart Disease,Coronary heart disease hospitalization rate am...,Crude,...,Race,Other,C1,T4,MD301,Crude,BOC04,RAC07,8,POINT (-106.1336109 38.84384076)
17,17,17,2020,TX,Texas,Medicare,Cardiovascular Diseases,Coronary Heart Disease,Coronary heart disease hospitalization rate am...,Crude,...,Age,75+,C1,T4,MD301,Crude,BOC03,AGE08,48,POINT (-99.42677021 31.82724041)
18,18,18,2021,VT,Vermont,Medicare,Cardiovascular Diseases,Heart Failure,Heart failure hospitalization rate among Medic...,Crude,...,Gender,Male,C1,T5,MD501,Crude,BOC02,GEN01,50,POINT (-72.51764079 43.62538124)
19,19,19,2016,US,United States,Medicare,Cardiovascular Diseases,Heart Failure,Prevalence of in-hospital mortality among hear...,Crude,...,Race,Non-Hispanic White,C1,T5,MD503,Crude,BOC04,RAC01,59,NaN

In [29]:
#it looks like the LocationAbbr and LocationDesc States and will list the US when the geoloc is unknown(NaN).
#lets check the rest of the dataset to see if anything else should be modified:
for column in CMS2.columns:
    unique_counts = CMS2[column].value_counts()
    print(f"Column: {column}")
    print(unique_counts)
    print("\n")

Column: level_0
level_0
0        1
22312    1
22310    1
22309    1
22308    1
        ..
11147    1
11146    1
11145    1
11144    1
33453    1
Name: count, Length: 33454, dtype: int64


Column: RowIds
RowIds
0        1
22312    1
22310    1
22309    1
22308    1
        ..
11147    1
11146    1
11145    1
11144    1
33453    1
Name: count, Length: 33454, dtype: int64


Column: YearStart
YearStart
2016    5609
2017    5577
2019    5575
2018    5572
2020    5561
2021    5560
Name: count, dtype: int64


Column: LocationAbbr
LocationAbbr
AR    1281
ME    1278
US     720
NC     648
MA     648
NY     648
FL     648
KS     648
GA     648
OH     648
CT     648
NJ     648
IL     648
CA     648
TX     648
CO     648
WA     648
MN     647
VI     647
MI     647
OK     647
WI     647
PA     647
IA     647
OR     647
NV     647
TN     646
IN     645
SC     644
DE     644
NB     644
MO     644
LA     644
KY     643
UT     643
AL     642
NM     641
ID     641
HI     640
NH     639
MS     639
RI     634
AK     632
WV     630
DC     630
WY     627
MT     625
SD     623
VT     617
ND     614
AZ       9
Name: count, dtype: int64


Column: LocationDesc
LocationDesc
United States     720
New Jersey        648
North Carolina    648
Massachusetts     648
New York          648
Maryland          648
Florida           648
Kansas            648
Ohio              648
Georgia           648
Connecticut       648
Illinois          648
California        648
Texas             648
Colorado          648
Washington        648
Arizona           647
Minnesota         647
Virginia          647
Michigan          647
Oklahoma          647
Wisconsin         647
Pennsylvania      647
Nevada            647
Iowa              647
Oregon            647
Tennessee         646
Indiana           645
Delaware          644
Nebraska          644
Missouri          644
Louisiana         644
South Carolina    644
Kentucky          643
Arkansas          643
Utah              643
Alabama           642
New Mexico        641
Idaho             641
Hawaii            640
Mississippi       639
New Hampshire     639
Rhode Island      634
Alaska            632
Washington, DC    630
West Virginia     630
Maine             630
Wyoming           627
Montana           625
South Dakota      623
Vermont           617
North Dakota      614
Name: count, dtype: int64


Column: DataSource
DataSource
Medicare    33454
Name: count, dtype: int64


Column: Class
Class
Cardiovascular Diseases    33454
Name: count, dtype: int64


Column: Topic
Topic
Major Cardiovascular Disease                  5626
Diseases of the Heart (Heart Disease)         5620
Stroke                                        5606
Coronary Heart Disease                        5593
Acute Myocardial Infarction (Heart Attack)    5584
Heart Failure                                 5425
Name: count, dtype: int64


Column: Question
Question
Major cardiovascular disease hospitalization rate among Medicare Fee-For-Service beneficiaries (65+); CMS Medicare                                                   2814
Diseases of the heart (heart disease) hospitalization rate among Medicare beneficiaries (65+); CMS Medicare                                                          2814
Heart failure hospitalization rate among Medicare Fee-For-Service beneficiaries (65+); CMS Medicare                                                                  2814
Coronary heart disease hospitalization rate among Medicare beneficiaries (65+); CMS Medicare                                                                         2814
Cerebrovascular disease (stroke) hospitalization rate among Medicare Fee-For-Service beneficiaries (65+); CMS Medicare                                               2814
Acute myocardial infarction (heart attack) hospitalization rate among Medicare Fee-For-Service beneficiaries (65+); CMS Medicare                                     2814
Prevalence of in-hospital mortality among major cardiovascular disease hospitalizations, Medicare Fee-For-Service beneficiaries (65+); CMS Medicare                  2812
Prevalence of in-hospital mortality among diseases of the heart (heart disease) hospitalizations, Medicare Fee-For-Service beneficiaries (65+); CMS Medicare         2806
Prevalence of in-hospital mortality among cerebrovascular disease (stroke) hospitalizations, Medicare Fee-For-Service beneficiaries (65+); CMS Medicare              2792
Prevalence of in-hospital mortality among coronary heart disease hospitalizations, Medicare Fee-For-Service beneficiaries (65+); CMS Medicare                        2779
Prevalence of in-hospital mortality among acute myocardial infarction (heart attack) hospitalizations, Medicare Fee-For-Service beneficiaries (65+); CMS Medicare    2770
Prevalence of in-hospital mortality among heart failure hospitalizations, Medicare Fee-For-Service beneficiaries (65+); CMS Medicare                                 2611
Name: count, dtype: int64


Column: Data_Value_Type
Data_Value_Type
Crude    33454
Name: count, dtype: int64


Column: Data_Value_Unit
Data_Value_Unit
Rate per 100,000    16884
Percent (%)         16570
Name: count, dtype: int64


Column: Data_Value
Data_Value
0.0       2833
5.0        343
4.8        341
4.9        332
5.3        319
          ...
5556.5       1
3935.0       1
980.7        1
4873.4       1
588.2        1
Name: count, Length: 12699, dtype: int64


Column: Data_Value_Alt
Data_Value_Alt
0.0       2833
5.0        343
4.8        341
4.9        332
5.3        319
          ...
3935.0       1
980.7        1
4873.5       1
4164.0       1
588.2        1
Name: count, Length: 12698, dtype: int64


Column: Low_Confidence_Limit
Low_Confidence_Limit
-1.0       2184
 0.0        649
 4.2        369
 4.4        350
 3.9        343
           ...
 1925.0       1
 3708.0       1
 3536.5       1
 5065.1       1
 835.2        1
Name: count, Length: 12440, dtype: int64


Column: High_Confidence_Limit
High_Confidence_Limit
-1.0       2184
 0.0        649
 5.2        223
 5.7        222
 5.6        221
           ...
 2895.0       1
 3637.4       1
 3774.3       1
 4520.7       1
 1053.6       1
Name: count, Length: 13465, dtype: int64


Column: Break_Out_Category
Break_Out_Category
Race       22150
Gender      7488
Age         3744
Overall       72
Name: count, dtype: int64


Column: Break_Out
Break_Out
Male                  3744
Non-Hispanic White    3744
75+                   3744
Female                3744
Other                 3733
Unknown               3712
Non-Hispanic Black    3697
Non-Hispanic Asian    3658
Hispanic              3606
Overall                 72
Name: count, dtype: int64


Column: ClassId
ClassId
C1    33454
Name: count, dtype: int64


Column: TopicId
TopicId
T1    5626
T2    5620
T6    5606
T4    5593
T3    5584
T5    5425
Name: count, dtype: int64


Column: QuestionId
QuestionId
MD101    2814
MD201    2814
MD501    2814
MD301    2814
MD601    2814
MD401    2814
MD103    2812
MD203    2806
MD603    2792
MD303    2779
MD403    2770
MD503    2611
Name: count, dtype: int64


Column: Data_Value_TypeID
Data_Value_TypeID
Crude    33454
Name: count, dtype: int64


Column: BreakOutCategoryId
BreakOutCategoryId
BOC04    22150
BOC02     7488
BOC03     3744
BOC01       72
Name: count, dtype: int64


Column: BreakOutId
BreakOutId
GEN01    3744
RAC01    3744
AGE08    3744
GEN02    3744
RAC07    3733
RAC08    3712
RAC02    3697
RAC03    3658
RAC04    3606
OVR01      72
Name: count, dtype: int64


Column: LocationId
LocationId
59    720
34    648
37    648
25    648
36    648
24    648
12    648
20    648
39    648
13    648
9     648
17    648
6     648
48    648
8     648
53    648
4     647
27    647
51    647
26    647
40    647
55    647
42    647
32    647
19    647
41    647
47    646
18    645
10    644
31    644
29    644
22    644
45    644
21    643
5     643
49    643
1     642
35    641
16    641
15    640
28    639
33    639
44    634
2     632
11    630
54    630
23    630
56    627
30    625
46    623
50    617
38    614
Name: count, dtype: int64


Column: GeoLocation
GeoLocation
POINT (-72.08269067 42.27687047)    648
POINT (-76.60926011 39.29058096)    648
POINT (-75.54397043 42.82700103)    648
POINT (-106.1336109 38.84384076)    648
POINT (-99.42677021 31.82724041)    648
POINT (-120.4700108 47.52227863)    648
POINT (-88.99771018 40.48501028)    648
POINT (-74.27369129 40.13057005)    648
POINT (-72.64984095 41.56266102)    648
POINT (-79.15925046 35.46622098)    648
POINT (-83.62758035 32.83968109)    648
POINT (-98.20078123 38.3477403)     648
POINT (-81.92896054 28.93204038)    648
POINT (-82.40426006 40.06021014)    648
POINT (-120.9999995 37.63864012)    648
POINT (-77.86070029 40.79373015)    647
POINT (-84.71439027 44.66131954)    647
POINT (-78.45789046 37.54268067)    647
POINT (-94.7942005 46.35564874)     647
POINT (-111.7638113 34.86597028)    647
POINT (-120.1550313 44.56744942)    647
POINT (-117.0718406 39.49324039)    647
POINT (-89.81637074 44.39319117)    647
POINT (-93.81649056 42.46940091)    647
POINT (-97.52107021 35.47203136)    647
POINT (-85.77449091 35.68094058)    646
POINT (-86.14996019 39.76691045)    645
POINT (-81.04537121 33.9988213)     644
POINT (-75.57774117 39.00883067)    644
POINT (-92.44568007 31.31266064)    644
POINT (-92.56630005 38.63579078)    644
POINT (-99.36572062 41.64104099)    644
POINT (-92.27449074 34.74865012)    643
POINT (-111.5871306 39.36070017)    643
POINT (-84.77497105 37.64597027)    643
POINT (-86.63186076 32.84057112)    642
POINT (-114.36373 43.68263001)      641
POINT (-106.240581 34.52088095)     641
POINT (-157.8577494 21.30485044)    640
POINT (-89.53803082 32.7455101)     639
POINT (-71.50036092 43.65595011)    639
POINT (-71.52247031 41.70828019)    634
POINT (-147.722059 64.84507996)     632
POINT (-77.03196113 38.89037139)    630
POINT (-80.71264013 38.6655102)     630
POINT (-68.98503134 45.25422889)    630
POINT (-108.1098304 43.23554134)    627
POINT (-109.4244206 47.06652897)    625
POINT (-100.3735306 44.35313005)    623
POINT (-72.51764079 43.62538124)    617
POINT (-100.118421 47.47531978)     614
Name: count, dtype: int64

In [ ]:
#The above looks like what we should expect for this data set.

In [36]:
# rename some columns to clear up the  class = DiseaseState, type =DiseaseSeverity
CMS2.rename(columns={'class': 'DiseaseState', 'type': 'DiseaseSeverity'}, inplace=True)

# Print the head of the DataFrame
print(CMS2.head(10))

   level_0  RowIds  YearStart LocationAbbr   LocationDesc DataSource  \
0        0       0       2016           US  United States   Medicare
1        1       1       2017           US  United States   Medicare
2        2       2       2018           US  United States   Medicare
3        3       3       2019           US  United States   Medicare
4        4       4       2020           US  United States   Medicare
5        5       5       2021           US  United States   Medicare
6        6       6       2017           US  United States   Medicare
7        7       7       2021           US  United States   Medicare
8        8       8       2019           MT        Montana   Medicare
9        9       9       2018           US  United States   Medicare

                     Class                                  Topic  \
0  Cardiovascular Diseases           Major Cardiovascular Disease
1  Cardiovascular Diseases           Major Cardiovascular Disease
2  Cardiovascular Diseases           Major Cardiovascular Disease
3  Cardiovascular Diseases           Major Cardiovascular Disease
4  Cardiovascular Diseases           Major Cardiovascular Disease
5  Cardiovascular Diseases           Major Cardiovascular Disease
6  Cardiovascular Diseases  Diseases of the Heart (Heart Disease)
7  Cardiovascular Diseases  Diseases of the Heart (Heart Disease)
8  Cardiovascular Diseases                                 Stroke
9  Cardiovascular Diseases                                 Stroke

                                            Question Data_Value_Type  ...  \
0  Major cardiovascular disease hospitalization r...           Crude  ...
1  Major cardiovascular disease hospitalization r...           Crude  ...
2  Major cardiovascular disease hospitalization r...           Crude  ...
3  Major cardiovascular disease hospitalization r...           Crude  ...
4  Major cardiovascular disease hospitalization r...           Crude  ...
5  Major cardiovascular disease hospitalization r...           Crude  ...
6  Diseases of the heart (heart disease) hospital...           Crude  ...
7  Diseases of the heart (heart disease) hospital...           Crude  ...
8  Prevalence of in-hospital mortality among cere...           Crude  ...
9  Prevalence of in-hospital mortality among cere...           Crude  ...

  Break_Out_Category           Break_Out  ClassId  TopicId  QuestionId  \
0               Race             Unknown       C1       T1       MD101
1               Race             Unknown       C1       T1       MD101
2               Race             Unknown       C1       T1       MD101
3             Gender                Male       C1       T1       MD101
4             Gender                Male       C1       T1       MD101
5             Gender                Male       C1       T1       MD101
6               Race             Unknown       C1       T2       MD201
7               Race             Unknown       C1       T2       MD201
8               Race  Non-Hispanic Asian       C1       T6       MD603
9               Race  Non-Hispanic White       C1       T6       MD603

  Data_Value_TypeID BreakOutCategoryId BreakOutId LocationId  \
0             Crude              BOC04      RAC08         59
1             Crude              BOC04      RAC08         59
2             Crude              BOC04      RAC08         59
3             Crude              BOC02      GEN01         59
4             Crude              BOC02      GEN01         59
5             Crude              BOC02      GEN01         59
6             Crude              BOC04      RAC08         59
7             Crude              BOC04      RAC08         59
8             Crude              BOC04      RAC03         30
9             Crude              BOC04      RAC01         59

                        GeoLocation
0                               NaN
1                               NaN
2                               NaN
3                               NaN
4                               NaN
5                               NaN
6                               NaN
7                               NaN
8  POINT (-109.4244206 47.06652897)
9                               NaN

[10 rows x 25 columns]

C:\Users\Joshua D\AppData\Local\Temp\ipykernel_1648\3790101035.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CMS2.rename(columns={'class': 'DiseaseState', 'type': 'DiseaseSeverity'}, inplace=True)

In [ ]:
""""Somethoughts on the dataset:
-Its possible to do a correlation between columns like DiseaseSeverity and the other columns like breakout, locationDesc, etc.  Heat map here would be useful to see the visusal correlations
-we could do a count of claims by disease state and by Age, gender and race trended over the years. 
- the geoloc column could add a deep level of granularity with the dataset during the visualization stage
""""